@import "src/assets/styles/mixins";
.offer {

    border-radius: 32px;
    padding: 24px;
    width: 240px;
    height: 200px;
}

.redBg {
    background: #BC1922;
    color: #fff
}

.whiteBg {
    background: #fff;
    color: #000;
}