@import 'src/assets/styles/mixins';

.section {
    padding: 200px 0 150px 0;
    position: relative;
    min-height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &::after {
        content: '';
        display: block;
        position: absolute;
        background: #0C102F;
        width: 100%;
        top: 0;
        height: 100%;
        z-index: -2;
    }
    &::before {
        background-image: url("../../../../assets/images/homePage/grill-bg.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;

        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        z-index: -1;
    }
}

.title {
    color: #fff;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    span {
        color: #EE353F;
    }
    margin-bottom: 150px;
}

.section__top {
}
.section__bottom {
    @include flexCenter();
    gap: 30px;
    position: relative;

}
.section__bottomLink {
    max-width: 300px;
    text-align: center;
    color: #fff;
    position: relative;
    text-decoration-line: underline;
    line-height: 130%;
    text-underline-offset: 4px;
}