@import 'src/assets/styles/mixins';

.section {
    @include flexCenter();
    background-image: url("../../../../assets/images/homePage/equipment-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 300px;
    position: relative;
    @include shadowBg(0.5);
}

.section__inner {
    display: flex;
    @include flexCenter();
}

.section__title {
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    width: 45%;
}

.section__list {
    width: 55%;
    margin-left: 20px;
    &::before {
        content: '';
        position: absolute;
        background: white;
        width: 40rem;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}