@import "src/assets/styles/mixins";

.socnet_item {
    @include flexCenter();
    width: 72px;
    height: 72px;
    border-radius: 20px;
}

.twitterBg {
    background: #3CF;
}
.instagramBg {
    background: linear-gradient(315deg, #FBE18A 0.96%, #FCBB45 21.96%, #F75274 38.96%, #D53692 52.96%, #8F39CE 74.96%, #5B4FE9 100.96%);}
.facebookBg {
    background: #337FFF;
}